<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bridge app to connect with QLC+ and send updates" />
    <title>ACBF Bridge</title>

    <link href="/style.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script type="module" src="/js/bridge.js"></script>
  </head>
  <body>
    <h1>QLC+ Bridge</h1>
    <div class="noscript__content">
      This page listens to socket events from the beer-fest.js server just as any other client would, it then translates
      those messages to native websockets messages for QLC+.<br /><br />
      To use this bridge, open <a href="https://qlcplus.org/">QLC+.</a> with the
      <a href="https://qlcplus.org/docs/html_en_EN/webinterface.html">web interface</a> enabled by running
      <text class="code">qlcplus -w</text>, load up <a href="downloads/qlcplus.qxw">qlcplus.qxw</a>, then refresh this
      page. <br /><br />
      Have a look at the JavaScript <a href="/js/bridge.js">source code for this page</a> to see how it works.
    </div>
  </body>
</html>
