<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>ACBF 2020 Ale Availability</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <table id="table" class="tg" cellspacing="0" cellpadding="0">
      <tr>
        <th colspan="10" height="119px"><h1>ACBF 2020 Ale Availability</h1></th>
      </tr>
      <tr>
        <td><a id="button_1" onclick="confirmUpdate(1)">1</a></td>
        <td><a id="button_2" onclick="confirmUpdate(2)">2</a></td>
        <td><a id="button_3" onclick="confirmUpdate(3)">3</a></td>
        <td><a id="button_4" onclick="confirmUpdate(4)">4</a></td>
        <td><a id="button_5" onclick="confirmUpdate(5)">5</a></td>
        <td><a id="button_6" onclick="confirmUpdate(6)">6</a></td>
        <td><a id="button_7" onclick="confirmUpdate(7)">7</a></td>
        <td><a id="button_8" onclick="confirmUpdate(8)">8</a></td>
        <td><a id="button_9" onclick="confirmUpdate(9)">9</a></td>
        <td><a id="button_10" onclick="confirmUpdate(10)">10</a></td>
      </tr>
      <tr>
        <td><a id="button_11" onclick="confirmUpdate(11)">11</a></td>
        <td><a id="button_12" onclick="confirmUpdate(12)">12</a></td>
        <td><a id="button_13" onclick="confirmUpdate(13)">13</a></td>
        <td><a id="button_14" onclick="confirmUpdate(14)">14</a></td>
        <td><a id="button_15" onclick="confirmUpdate(15)">15</a></td>
        <td><a id="button_16" onclick="confirmUpdate(16)">16</a></td>
        <td><a id="button_17" onclick="confirmUpdate(17)">17</a></td>
        <td><a id="button_18" onclick="confirmUpdate(18)">18</a></td>
        <td><a id="button_19" onclick="confirmUpdate(19)">19</a></td>
        <td><a id="button_20" onclick="confirmUpdate(20)">20</a></td>
      </tr>
      <tr>
        <td><a id="button_21" onclick="confirmUpdate(21)">21</a></td>
        <td><a id="button_22" onclick="confirmUpdate(22)">22</a></td>
        <td><a id="button_23" onclick="confirmUpdate(23)">23</a></td>
        <td><a id="button_24" onclick="confirmUpdate(24)">24</a></td>
        <td><a id="button_25" onclick="confirmUpdate(25)">25</a></td>
        <td><a id="button_26" onclick="confirmUpdate(26)">26</a></td>
        <td><a id="button_27" onclick="confirmUpdate(27)">27</a></td>
        <td><a id="button_28" onclick="confirmUpdate(28)">28</a></td>
        <td><a id="button_29" onclick="confirmUpdate(29)">29</a></td>
        <td><a id="button_30" onclick="confirmUpdate(30)">30</a></td>
      </tr>
      <tr>
        <td><a id="button_31" onclick="confirmUpdate(31)">31</a></td>
        <td><a id="button_32" onclick="confirmUpdate(32)">32</a></td>
        <td><a id="button_33" onclick="confirmUpdate(33)">33</a></td>
        <td><a id="button_34" onclick="confirmUpdate(34)">34</a></td>
        <td><a id="button_35" onclick="confirmUpdate(35)">35</a></td>
        <td><a id="button_36" onclick="confirmUpdate(36)">36</a></td>
        <td><a id="button_37" onclick="confirmUpdate(37)">37</a></td>
        <td><a id="button_38" onclick="confirmUpdate(38)">38</a></td>
        <td><a id="button_39" onclick="confirmUpdate(39)">39</a></td>
        <td><a id="button_40" onclick="confirmUpdate(40)">40</a></td>
      </tr>
      <tr>
        <td><a id="button_41" onclick="confirmUpdate(41)">41</a></td>
        <td><a id="button_42" onclick="confirmUpdate(42)">42</a></td>
        <td><a id="button_43" onclick="confirmUpdate(43)">43</a></td>
        <td><a id="button_44" onclick="confirmUpdate(44)">44</a></td>
        <td><a id="button_45" onclick="confirmUpdate(45)">45</a></td>
        <td><a id="button_46" onclick="confirmUpdate(46)">46</a></td>
        <td><a id="button_47" onclick="confirmUpdate(47)">47</a></td>
        <td><a id="button_48" onclick="confirmUpdate(48)">48</a></td>
        <td><a id="button_49" onclick="confirmUpdate(49)">49</a></td>
        <td><a id="button_50" onclick="confirmUpdate(50)">50</a></td>
      </tr>
      <tr>
        <td><a id="button_51" onclick="confirmUpdate(51)">51</a></td>
        <td><a id="button_52" onclick="confirmUpdate(52)">52</a></td>
        <td><a id="button_53" onclick="confirmUpdate(53)">53</a></td>
        <td><a id="button_54" onclick="confirmUpdate(54)">54</a></td>
        <td><a id="button_55" onclick="confirmUpdate(55)">55</a></td>
        <td><a id="button_56" onclick="confirmUpdate(56)">56</a></td>
        <td><a id="button_57" onclick="confirmUpdate(57)">57</a></td>
        <td><a id="button_58" onclick="confirmUpdate(58)">58</a></td>
        <td><a id="button_59" onclick="confirmUpdate(59)">59</a></td>
        <td><a id="button_60" onclick="confirmUpdate(60)">60</a></td>
      </tr>
      <tr>
        <td><a id="button_61" onclick="confirmUpdate(61)">61</a></td>
        <td><a id="button_62" onclick="confirmUpdate(62)">62</a></td>
        <td><a id="button_63" onclick="confirmUpdate(63)">63</a></td>
        <td><a id="button_64" onclick="confirmUpdate(64)">64</a></td>
        <td><a id="button_65" onclick="confirmUpdate(65)">65</a></td>
        <td><a id="button_66" onclick="confirmUpdate(66)">66</a></td>
        <td><a id="button_67" onclick="confirmUpdate(67)">67</a></td>
        <td><a id="button_68" onclick="confirmUpdate(68)">68</a></td>
        <td><a id="button_69" onclick="confirmUpdate(69)">69</a></td>
        <td><a id="button_70" onclick="confirmUpdate(70)">70</a></td>
      </tr>
      <tr>
        <td><a id="button_71" onclick="confirmUpdate(71)">71</a></td>
        <td><a id="button_72" onclick="confirmUpdate(72)">72</a></td>
        <td><a id="button_73" onclick="confirmUpdate(73)">73</a></td>
        <td><a id="button_74" onclick="confirmUpdate(74)">74</a></td>
        <td><a id="button_75" onclick="confirmUpdate(75)">75</a></td>
        <td><a id="button_76" onclick="confirmUpdate(76)">76</a></td>
        <td><a id="button_77" onclick="confirmUpdate(77)">77</a></td>
        <td><a id="button_78" onclick="confirmUpdate(78)">78</a></td>
        <td><a id="button_79" onclick="confirmUpdate(79)">79</a></td>
        <td><a id="button_80" onclick="confirmUpdate(80)">80</a></td>
      </tr>
    </table>

    <script src="/socket.io/socket.io.js"></script>
    <script src="buttons.js"></script>
  </body>
</html>
