<!DOCTYPE html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>ACBF Ale Availability</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <script defer src="/socket.io/socket.io.js"></script>
    <script type="module" src="js/buttons.js"></script>
  </head>

  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <noscript>
      <div id="noscript">
        <div id="noscript__content">
          This site heavily relies on JavaScript to function, specifically the
          <a href="https://socket.io/">Socket.IO</a> library for communication with the availability server.<br /><br />
          If you would like to audit the software that this site uses, please visit
          <a href="https://github.com/guyfawcus/beer-fest.js/">github.com/guyfawcus/beer-fest.js</a>.
        </div>
      </div></noscript
    >
    <section class="grid">
      <div class="buttons_header"><h1 id="title">ACBF 2020 Ale Availability</h1></div>
      <div id="button_1" onclick="updateNumber(1)">1</div>
      <div id="button_2" onclick="updateNumber(2)">2</div>
      <div id="button_3" onclick="updateNumber(3)">3</div>
      <div id="button_4" onclick="updateNumber(4)">4</div>
      <div id="button_5" onclick="updateNumber(5)">5</div>
      <div id="button_6" onclick="updateNumber(6)">6</div>
      <div id="button_7" onclick="updateNumber(7)">7</div>
      <div id="button_8" onclick="updateNumber(8)">8</div>
      <div id="button_9" onclick="updateNumber(9)">9</div>
      <div id="button_10" onclick="updateNumber(10)">10</div>
      <div id="button_11" onclick="updateNumber(11)">11</div>
      <div id="button_12" onclick="updateNumber(12)">12</div>
      <div id="button_13" onclick="updateNumber(13)">13</div>
      <div id="button_14" onclick="updateNumber(14)">14</div>
      <div id="button_15" onclick="updateNumber(15)">15</div>
      <div id="button_16" onclick="updateNumber(16)">16</div>
      <div id="button_17" onclick="updateNumber(17)">17</div>
      <div id="button_18" onclick="updateNumber(18)">18</div>
      <div id="button_19" onclick="updateNumber(19)">19</div>
      <div id="button_20" onclick="updateNumber(20)">20</div>
      <div id="button_21" onclick="updateNumber(21)">21</div>
      <div id="button_22" onclick="updateNumber(22)">22</div>
      <div id="button_23" onclick="updateNumber(23)">23</div>
      <div id="button_24" onclick="updateNumber(24)">24</div>
      <div id="button_25" onclick="updateNumber(25)">25</div>
      <div id="button_26" onclick="updateNumber(26)">26</div>
      <div id="button_27" onclick="updateNumber(27)">27</div>
      <div id="button_28" onclick="updateNumber(28)">28</div>
      <div id="button_29" onclick="updateNumber(29)">29</div>
      <div id="button_30" onclick="updateNumber(30)">30</div>
      <div id="button_31" onclick="updateNumber(31)">31</div>
      <div id="button_32" onclick="updateNumber(32)">32</div>
      <div id="button_33" onclick="updateNumber(33)">33</div>
      <div id="button_34" onclick="updateNumber(34)">34</div>
      <div id="button_35" onclick="updateNumber(35)">35</div>
      <div id="button_36" onclick="updateNumber(36)">36</div>
      <div id="button_37" onclick="updateNumber(37)">37</div>
      <div id="button_38" onclick="updateNumber(38)">38</div>
      <div id="button_39" onclick="updateNumber(39)">39</div>
      <div id="button_40" onclick="updateNumber(40)">40</div>
      <div id="button_41" onclick="updateNumber(41)">41</div>
      <div id="button_42" onclick="updateNumber(42)">42</div>
      <div id="button_43" onclick="updateNumber(43)">43</div>
      <div id="button_44" onclick="updateNumber(44)">44</div>
      <div id="button_45" onclick="updateNumber(45)">45</div>
      <div id="button_46" onclick="updateNumber(46)">46</div>
      <div id="button_47" onclick="updateNumber(47)">47</div>
      <div id="button_48" onclick="updateNumber(48)">48</div>
      <div id="button_49" onclick="updateNumber(49)">49</div>
      <div id="button_50" onclick="updateNumber(50)">50</div>
      <div id="button_51" onclick="updateNumber(51)">51</div>
      <div id="button_52" onclick="updateNumber(52)">52</div>
      <div id="button_53" onclick="updateNumber(53)">53</div>
      <div id="button_54" onclick="updateNumber(54)">54</div>
      <div id="button_55" onclick="updateNumber(55)">55</div>
      <div id="button_56" onclick="updateNumber(56)">56</div>
      <div id="button_57" onclick="updateNumber(57)">57</div>
      <div id="button_58" onclick="updateNumber(58)">58</div>
      <div id="button_59" onclick="updateNumber(59)">59</div>
      <div id="button_60" onclick="updateNumber(60)">60</div>
      <div id="button_61" onclick="updateNumber(61)">61</div>
      <div id="button_62" onclick="updateNumber(62)">62</div>
      <div id="button_63" onclick="updateNumber(63)">63</div>
      <div id="button_64" onclick="updateNumber(64)">64</div>
      <div id="button_65" onclick="updateNumber(65)">65</div>
      <div id="button_66" onclick="updateNumber(66)">66</div>
      <div id="button_67" onclick="updateNumber(67)">67</div>
      <div id="button_68" onclick="updateNumber(68)">68</div>
      <div id="button_69" onclick="updateNumber(69)">69</div>
      <div id="button_70" onclick="updateNumber(70)">70</div>
      <div id="button_71" onclick="updateNumber(71)">71</div>
      <div id="button_72" onclick="updateNumber(72)">72</div>
      <div id="button_73" onclick="updateNumber(73)">73</div>
      <div id="button_74" onclick="updateNumber(74)">74</div>
      <div id="button_75" onclick="updateNumber(75)">75</div>
      <div id="button_76" onclick="updateNumber(76)">76</div>
      <div id="button_77" onclick="updateNumber(77)">77</div>
      <div id="button_78" onclick="updateNumber(78)">78</div>
      <div id="button_79" onclick="updateNumber(79)">79</div>
      <div id="button_80" onclick="updateNumber(80)">80</div>
    </section>
  </body>
</html>
