<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=900" />
    <meta name="description" content="ACBF beer availability display" />
    <title>ACBF Ale Availability</title>

    <link href="/style.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script type="module" src="/js/buttons.js"></script>
  </head>
  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <noscript>
      <div class="noscript">
        <div class="noscript__content">
          <h2>Please enable JavaScript!</h2>
          <br />
          This site heavily relies on JavaScript to function. Good news though - all of it is served locally, and the
          only external dependency is <a href="https://socket.io/">Socket.IO</a>, which is needed for communication with
          the availability server.<br /><br />
          If you would like to audit the rest of the code that this site uses, please visit
          <a href="https://github.com/guyfawcus/beer-fest.js/"><nobr>github.com/guyfawcus/beer-fest.js</nobr></a
          >.
        </div>
      </div>
    </noscript>
    <div class="popup" id="popup-background"></div>
    <div class="popup" id="popup-menu">
      <div id="check-share">
        Share your checks with:
        <a id="check-share-url" href="http://127.0.0.1:8000/availability?checked=">this&nbsp;link</a>
      </div>
      <div class="button" id="clear-checks" title="Clear check marks">Clear checks</div>
      <div class="checkbox" title="Hide beers with no information">
        <input type="checkbox" id="info_check" />
      </div>
      <div class="checkbox-label"><label for="info_check">Hide beers with no information</label></div>
      <div class="checkbox" title="Hide non-vegan beers">
        <input type="checkbox" id="vegan_check" />
      </div>
      <div class="checkbox-label"><label for="vegan_check">Hide non-vegan beers</label></div>
      <div class="checkbox" title="Hide non-gluten free beers">
        <input type="checkbox" id="gluten_free_check" />
      </div>
      <div class="checkbox-label"><label for="gluten_free_check">Hide non-gluten-free beers</label></div>
    </div>
    <header id="buttons_header"><h1>ACBF 2024 Ale Availability</h1></header>
    <div class="grid">
      <div class="availability_button" id="button_1">1</div>
      <div class="availability_button" id="button_2">2</div>
      <div class="availability_button" id="button_3">3</div>
      <div class="availability_button" id="button_4">4</div>
      <div class="availability_button" id="button_5">5</div>
      <div class="availability_button" id="button_6">6</div>
      <div class="availability_button" id="button_7">7</div>
      <div class="availability_button" id="button_8">8</div>
      <div class="availability_button" id="button_9">9</div>
      <div class="availability_button" id="button_10">10</div>
      <div class="availability_button" id="button_11">11</div>
      <div class="availability_button" id="button_12">12</div>
      <div class="availability_button" id="button_13">13</div>
      <div class="availability_button" id="button_14">14</div>
      <div class="availability_button" id="button_15">15</div>
      <div class="availability_button" id="button_16">16</div>
      <div class="availability_button" id="button_17">17</div>
      <div class="availability_button" id="button_18">18</div>
      <div class="availability_button" id="button_19">19</div>
      <div class="availability_button" id="button_20">20</div>
      <div class="availability_button" id="button_21">21</div>
      <div class="availability_button" id="button_22">22</div>
      <div class="availability_button" id="button_23">23</div>
      <div class="availability_button" id="button_24">24</div>
      <div class="availability_button" id="button_25">25</div>
      <div class="availability_button" id="button_26">26</div>
      <div class="availability_button" id="button_27">27</div>
      <div class="availability_button" id="button_28">28</div>
      <div class="availability_button" id="button_29">29</div>
      <div class="availability_button" id="button_30">30</div>
      <div class="availability_button" id="button_31">31</div>
      <div class="availability_button" id="button_32">32</div>
      <div class="availability_button" id="button_33">33</div>
      <div class="availability_button" id="button_34">34</div>
      <div class="availability_button" id="button_35">35</div>
      <div class="availability_button" id="button_36">36</div>
      <div class="availability_button" id="button_37">37</div>
      <div class="availability_button" id="button_38">38</div>
      <div class="availability_button" id="button_39">39</div>
      <div class="availability_button" id="button_40">40</div>
      <div class="availability_button" id="button_41">41</div>
      <div class="availability_button" id="button_42">42</div>
      <div class="availability_button" id="button_43">43</div>
      <div class="availability_button" id="button_44">44</div>
      <div class="availability_button" id="button_45">45</div>
      <div class="availability_button" id="button_46">46</div>
      <div class="availability_button" id="button_47">47</div>
      <div class="availability_button" id="button_48">48</div>
      <div class="availability_button" id="button_49">49</div>
      <div class="availability_button" id="button_50">50</div>
      <div class="availability_button" id="button_51">51</div>
      <div class="availability_button" id="button_52">52</div>
      <div class="availability_button" id="button_53">53</div>
      <div class="availability_button" id="button_54">54</div>
      <div class="availability_button" id="button_55">55</div>
      <div class="availability_button" id="button_56">56</div>
      <div class="availability_button" id="button_57">57</div>
      <div class="availability_button" id="button_58">58</div>
      <div class="availability_button" id="button_59">59</div>
      <div class="availability_button" id="button_60">60</div>
      <div class="availability_button" id="button_61">61</div>
      <div class="availability_button" id="button_62">62</div>
      <div class="availability_button" id="button_63">63</div>
      <div class="availability_button" id="button_64">64</div>
      <div class="availability_button" id="button_65">65</div>
      <div class="availability_button" id="button_66">66</div>
      <div class="availability_button" id="button_67">67</div>
      <div class="availability_button" id="button_68">68</div>
      <div class="availability_button" id="button_69">69</div>
      <div class="availability_button" id="button_70">70</div>
      <div class="availability_button" id="button_71">71</div>
      <div class="availability_button" id="button_72">72</div>
      <div class="availability_button" id="button_73">73</div>
      <div class="availability_button" id="button_74">74</div>
      <div class="availability_button" id="button_75">75</div>
      <div class="availability_button" id="button_76">76</div>
      <div class="availability_button" id="button_77">77</div>
      <div class="availability_button" id="button_78">78</div>
      <div class="availability_button" id="button_79">79</div>
      <div class="availability_button" id="button_80">80</div>
      <div class="availability_button" id="button_81">81</div>
      <div class="availability_button" id="button_82">82</div>
      <div class="availability_button" id="button_83">83</div>
      <div class="availability_button" id="button_84">84</div>
      <div class="availability_button" id="button_85">85</div>
      <div class="availability_button" id="button_86">86</div>
      <div class="availability_button" id="button_87">87</div>
      <div class="availability_button" id="button_88">88</div>
    </div>
  </body>
</html>
