<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Download links to various files used by this website" />
    <title>ACBF Downloads</title>

    <link href="/style.css?v=1" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script type="module" src="/js/core.js"></script>
  </head>
  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <header><h1>ACBF Downloads</h1></header>
    <div class="menu_container">
      <div class="menu_section">
        <a class="button" href="/downloads/ACBF12-2024.csv" title="ACBF12 (2024) beer information">ACBF12-2024.csv</a>
        <a class="button" href="/downloads/ACBF11-2023.csv" title="ACBF11 (2023) beer information">ACBF11-2023.csv</a>
        <a class="button" href="/downloads/ACBF10-2022.csv" title="ACBF10 (2022) beer information">ACBF10-2022.csv</a>
        <a class="button" href="/downloads/ACBF9-2021.csv" title="ACBF9 (2021) beer information">ACBF9-2021.csv</a>
        <a class="button" href="/downloads/ACBF8-2019.csv" title="ACBF8 (2019) beer information">ACBF8-2019.csv</a>
        <a class="button" href="/downloads/ACBF7-2018.csv" title="ACBF7 (2018) beer information">ACBF7-2018.csv</a>
        <a class="button" href="/downloads/ACBF6-2017.csv" title="ACBF6 (2017) beer information">ACBF6-2017.csv</a>
        <a class="button" href="/downloads/ACBF5-2016.csv" title="ACBF5 (2016) beer information">ACBF5-2016.csv</a>
        <a class="button" href="/downloads/ACBF4-2015.csv" title="ACBF4 (2015) beer information">ACBF4-2015.csv</a>
        <a class="button" href="/downloads/ACBF3-2014.csv" title="ACBF3 (2014) beer information">ACBF3-2014.csv</a>
        <a class="button" href="/downloads/ACBF2-2013.csv" title="ACBF2 (2013) beer information">ACBF2-2013.csv</a>
        <a class="button" href="/downloads/ACBF1-2012.csv" title="ACBF1 (2012) beer information">ACBF1-2012.csv</a>
      </div>
    </div>
    <footer>
      Made with 🍺 - © 2024 guyfawcus - (<a href="https://github.com/guyfawcus/beer-fest.js">MIT Licensed</a>)
    </footer>
  </body>
</html>
