<!DOCTYPE html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Download links to various files used by this website" />
    <title>ACBF Downloads</title>

    <link href="style.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="manifest" href="manifest.json" />

    <script defer src="/socket.io/socket.io.js"></script>
    <script type="module" src="js/core.js"></script>
  </head>
  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <div class="settings_container">
      <div class="settings_header"><h1>ACBF Downloads</h1></div>
      <div class="settings_utils">
        <a class="button" href="/downloads/acbf-beers.ods">acbf-beers.ods</a>
        <a class="button" href="/downloads/2018-beers.csv">2018-beers.csv</a>
        <a class="button" href="/downloads/2019-beers.csv">2019-beers.csv</a>
      </div>
    </div>
  </body>
</html>
