<!DOCTYPE html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
    <meta name="description" content="View recent changes to beer availability" />
    <title>ACBF History</title>

    <link href="style.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="manifest" href="manifest.json" />

    <script defer src="/js/socket.io.slim.js"></script>
    <script type="module" src="js/history.js"></script>
  </head>
  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <div class="settings_container">
      <div class="settings_header"><h1>ACBF History</h1></div>
      <div class="history" id="history"></div>
    </div>
  </body>
</html>
