<!DOCTYPE html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
    <meta name="description" content="Homepage of the Aston Clinton Beer Festival availability app" />
    <title>ACBF</title>

    <link href="/style.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script defer src="/js/socket.io.slim.js"></script>
    <script type="module" src="/js/core.js"></script>
  </head>
  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <noscript>
      <div class="noscript">
        <div class="noscript__content">
          <h2>Please enable JavaScript!</h2>
          <br />
          This site heavily relies on JavaScript to function. Good news though - all of it is served locally, and the
          only external dependency is <a href="https://socket.io/">Socket.IO</a>, which is needed for communication with
          the availability server.<br /><br />
          If you would like to audit the rest of the code that this site uses, please visit
          <a href="https://github.com/guyfawcus/beer-fest.js/"><nobr>github.com/guyfawcus/beer-fest.js</nobr></a
          >.
        </div>
      </div>
    </noscript>
    <h1>Aston Clinton Beer Festival</h1>
    <div class="menu_container">
      <div class="menu_section">
        <a class="button" title="Log in/out" id="login"></a>
        <a class="button" href="/settings" title="Settings">Settings</a>
        <a class="button" href="/downloads" title="Downloads">Downloads</a>
      </div>
      <div class="menu_section">
        <a class="button" href="/availability" title="Availability table">* Availability *</a>
        <a class="button" href="/slideshow" title="Slideshow with availability slide"> * Slideshow * </a>
        <a class="button" href="/history" title="Recent changes">* History *</a>
        <a class="button" href="/map" title="Map">* Map *</a>
      </div>
    </div>
    <footer>
      Made with 🍺 - © 2021 guyfawcus - (<a href="https://github.com/guyfawcus/beer-fest.js">MIT Licensed</a>)
    </footer>
  </body>
</html>
