<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>ACBF</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <script defer src="/socket.io/socket.io.js"></script>
    <script type="module" src="core.js"></script>
  </head>
  <body>
    <div class="settings_container">
      <div class="warning_conatiner"><div class="warning_icon" title="Server disconnected!">X</div></div>
      <div class="settings_header"><h1 id="title">Aston Clinton Beer Festival</h1></div>
      <div class="settings_utils">
        <a class="button" title="Log in/out" id="login"></a>
        <a class="button" href="/settings" title="Settings">Settings</a>
      </div>
      <div class="settings_options">
        <a class="button" href="/availability" title="Availability table">* Availability *</a>
        <a class="button" href="/slideshow" title="Slideshow with availability slide">
          * Slideshow *
        </a>
      </div>
    </div>
  </body>
</html>
