<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="list" content="The list of all of the beers" />
    <title>ACBF list</title>

    <link href="/style.css?v=4" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script type="module" src="/js/list.js"></script>
  </head>
  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>

    <header><h1>ACBF list</h1></header>
    <div class="menu_container">
      <div id="list"></div>
    </div>
    <footer>
      Made with 🍺 - © 2024 guyfawcus - (<a href="https://github.com/guyfawcus/beer-fest.js">MIT Licensed</a>)
    </footer>
  </body>
</html>
