<!DOCTYPE html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
    <meta name="description" content="Log in to make changes to the levels of the beers" />
    <title>ACBF Login</title>

    <link href="/style.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script defer src="/js/socket.io.slim.js"></script>
    <script type="module" src="/js/core.js"></script>
  </head>

  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <h1>ACBF Login</h1>
    <div class="menu_container">
      <div class="menu_section">
        <% if (messages.error) { %> <%= messages.error %> <% } %>
        <form action="/users" method="post">
          <div class="login_fields">
            <div>
              <label for="name" class="label">Name:</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Your name (whatever you want)"
                pattern=".{1,12}"
                required
                title="12 characters maximum"
                required
              />
            </div>
            <div>
              <label for="code" class="label">Code:</label>
              <input type="password" id="code" name="code" placeholder="Given to you by Chesney" required />
            </div>
            <div class="submit_button">
              <button type="submit">Login</button>
              <a href="/"><button type="button">Home</button></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
