<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
    <meta name="description" content="Map of the breweries that have supplied beer to this year's festival" />
    <title>Brewery map</title>

    <link href="/map.css" type="text/css" rel="stylesheet" />
    <link href="/css/leaflet.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script type="module" src="/js/map.js"></script>
  </head>
  <body>
    <div id="mapid"></div>
  </body>
</html>
