<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ACBF availability display" />
    <title>ACBF Master Availability</title>

    <link href="/style.css?v=4" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script type="module" src="/js/buttons.js"></script>
  </head>
  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <noscript>
      <div class="noscript">
        <div class="noscript__content">
          <h2>Please enable JavaScript!</h2>
          <br />
          This site heavily relies on JavaScript to function. Good news though - all of it is served locally, and the
          only external dependency is <a href="https://socket.io/">Socket.IO</a>, which is needed for communication with
          the availability server.<br /><br />
          If you would like to audit the rest of the code that this site uses, please visit
          <a href="https://github.com/guyfawcus/beer-fest.js/"><nobr>github.com/guyfawcus/beer-fest.js</nobr></a
          >.
        </div>
      </div>
    </noscript>
    <div class="popup" id="popup-background"></div>
    <div class="popup" id="popup-menu">
      <div id="check-share">
        Share your checks with:
        <a id="check-share-url" href="http://127.0.0.1:8000/master-availability?checked=">this&nbsp;link</a>
      </div>
      <div class="button" id="clear-checks" title="Clear check marks">Clear checks</div>
      <div class="checkbox" title="Hide non-vegan beers">
        <input type="checkbox" id="vegan_check" />
      </div>
      <div class="checkbox-label"><label for="vegan_check">Hide non-vegan beers</label></div>
      <div class="checkbox" title="Hide non-gluten free beers">
        <input type="checkbox" id="gluten_free_check" />
      </div>
      <div class="checkbox-label"><label for="gluten_free_check">Hide non-gluten-free beers</label></div>
    </div>
    <div class="master-grid">
      <div class="availability_button" id="button_1_1">1</div>
      <div class="availability_button" id="button_2_2">2</div>
      <div class="availability_button" id="button_3_3">3</div>
      <div class="availability_button" id="button_4_4">4</div>
      <div class="availability_button" id="button_5_5">5</div>
      <div class="availability_button" id="button_6_6">6</div>
      <div class="availability_button" id="button_7_7">7</div>
      <div class="availability_button" id="button_8_8">8</div>
      <div class="availability_button" id="button_9_9">9</div>
      <div class="availability_button" id="button_10_10">10</div>
      <div class="availability_button" id="button_11_11">11</div>
      <div class="availability_button" id="button_12_12">12</div>
      <div class="availability_button" id="button_13_13">13</div>
      <div class="availability_button" id="button_14_14">14</div>
      <div class="availability_button" id="button_15_15">15</div>
      <div class="availability_button" id="button_16_16">16</div>
      <div class="availability_button" id="button_17_17">17</div>
      <div class="availability_button" id="button_18_18">18</div>
      <div class="availability_button" id="button_19_19">19</div>
      <div class="availability_button" id="button_20_20">20</div>
      <div class="availability_button" id="button_21_21">21</div>
      <div class="availability_button" id="button_22_22">22</div>
      <div class="availability_button" id="button_23_23">23</div>
      <div class="availability_button" id="button_24_24">24</div>
      <div class="availability_button" id="button_25_25">25</div>
      <div class="availability_button" id="button_26_26">26</div>
      <div class="availability_button" id="button_27_27">27</div>
      <div class="availability_button" id="button_28_28">28</div>
      <div class="availability_button" id="button_29_29">29</div>
      <div class="availability_button" id="button_30_30">30</div>
      <div class="availability_button" id="button_31_31">31</div>
      <div class="availability_button" id="button_32_32">32</div>
      <div class="availability_button" id="button_33_33">33</div>
      <div class="availability_button" id="button_34_34">34</div>
      <div class="availability_button" id="button_35_35">35</div>
      <div class="availability_button" id="button_36_36">36</div>
      <div class="availability_button" id="button_37_37">37</div>
      <div class="availability_button" id="button_38_38">38</div>
      <div class="availability_button" id="button_39_39">39</div>
      <div class="availability_button" id="button_40_40">40</div>
      <div class="availability_button" id="button_41_41">41</div>
      <div class="availability_button" id="button_42_42">42</div>
      <div class="availability_button" id="button_43_43">43</div>
      <div class="availability_button" id="button_44_44">44</div>
      <div class="availability_button" id="button_45_45">45</div>
      <div class="availability_button" id="button_46_46">46</div>
      <div class="availability_button" id="button_47_47">47</div>
      <div class="availability_button" id="button_48_48">48</div>
      <div class="availability_button" id="button_49_49">49</div>
      <div class="availability_button" id="button_50_50">50</div>
      <div class="availability_button" id="button_51_51">51</div>
      <div class="availability_button" id="button_52_52">52</div>
      <div class="availability_button" id="button_53_53">53</div>
      <div class="availability_button" id="button_54_54">54</div>
      <div class="availability_button" id="button_55_55">55</div>
      <div class="availability_button" id="button_56_56">56</div>
      <div class="availability_button" id="button_57_57">57</div>
      <div class="availability_button" id="button_58_58">58</div>
      <div class="availability_button" id="button_59_59">59</div>
      <div class="availability_button" id="button_60_60">60</div>
      <div class="availability_button" id="button_61_61">61</div>
      <div class="availability_button" id="button_62_62">62</div>
      <div class="availability_button" id="button_63_63">63</div>
      <div class="availability_button" id="button_64_64">64</div>
      <div class="availability_button" id="button_65_65">65</div>
      <div class="availability_button" id="button_66_66">66</div>
      <div class="availability_button" id="button_67_67">67</div>
      <div class="availability_button" id="button_68_68">68</div>
      <div class="availability_button" id="button_69_69">69</div>
      <div class="availability_button" id="button_70_70">70</div>
      <div class="availability_button" id="button_71_71">71</div>
      <div class="availability_button" id="button_72_72">72</div>

      <div class="availability_button cider" id="button_73_C1">C1</div>
      <div class="availability_button cider" id="button_74_C2">C2</div>
      <div class="availability_button cider" id="button_75_C3">C3</div>
      <div class="availability_button cider" id="button_76_C4">C4</div>
      <div class="availability_button cider" id="button_77_C5">C5</div>
      <div class="availability_button cider" id="button_78_C6">C6</div>
      <div class="availability_button cider" id="button_79_C7">C7</div>
      <div class="availability_button cider" id="button_80_C8">C8</div>
      <div class="availability_button cider" id="button_81_C9">C9</div>
      <div class="availability_button cider" id="button_82_C10">C10</div>

      <div class="availability_button cider" id="button_83_C11">C11</div>
      <div class="availability_button cider" id="button_84_C12">C12</div>
      <div class="availability_button cider" id="button_85_C13">C13</div>
      <div class="availability_button cider" id="button_86_C14">C14</div>
      <div class="availability_button cider" id="button_87_C15">C15</div>
      <div class="availability_button cider" id="button_88_C16">C16</div>
      <div class="availability_button cider" id="button_89_C17">C17</div>
      <div class="availability_button cider" id="button_90_C18">C18</div>
      <div class="availability_button cider" id="button_91_C19">C19</div>
      <div class="availability_button cider" id="button_92_C20">C20</div>

      <div class="availability_button keg" id="button_93_A">A</div>
      <div class="availability_button keg" id="button_94_B">B</div>
      <div class="availability_button keg" id="button_95_C">C</div>
      <div class="availability_button keg" id="button_96_D">D</div>
      <div class="availability_button keg" id="button_97_E">E</div>
      <div class="availability_button keg" id="button_98_F">F</div>
      <div class="availability_button keg" id="button_99_G">G</div>
      <div class="availability_button keg" id="button_100_H">H</div>
      <div class="availability_button keg" id="button_101_I">I</div>
      <div class="availability_button keg" id="button_102_J">J</div>
      <div class="availability_button keg" id="button_103_K">K</div>
      <div class="availability_button keg" id="button_104_L">L</div>
    </div>
  </body>
</html>
