<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>ACBF Settings</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
  </head>

  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <div class="settings_container">
      <div class="settings_header"><h1 id="title">ACBF Settings</h1></div>
      <div class="settings_options">
        <div class="button" onclick="tableFill()" title="Mark everything as full">Fill</div>
        <div class="button" onclick="tableLow()" title="Mark everything as low">Low</div>
        <div class="button" onclick="tableEmpty()" title="Mark everything as empty">Empty</div>
        <div class="button" onclick="tableUpload()" title="Upload a previous state">Upload</div>
        <a class="button" href="/api/stock_levels" title="Download the current state" download="state.json">Download</a>
      </div>
      <div class="settings_checkboxes">
        <div title="Enable/disable the confirmation checks">
          <label
            ><center>
              <input type="checkbox" id="confirm_check" /><br />
              Confirmations
            </center></label
          >
        </div>
        <div title="Enable/disable the 'low' level">
          <label
            ><center>
              <input type="checkbox" id="low_check" /><br />
              'low' level enable
            </center></label
          >
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="settings.js"></script>
  </body>
</html>
