<!DOCTYPE html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>ACBF Settings</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <script defer src="/socket.io/socket.io.js"></script>
    <script type="module" src="js/settings.js"></script>
  </head>

  <body>
    <div class="warning_icon" title="Server disconnected!">X</div>
    <div class="settings_container">
      <div class="settings_header"><h1 id="title">ACBF Settings</h1></div>
      <div class="settings_utils">
        <div class="button" onclick="tableUpload()" title="Upload a previous state">Upload</div>
        <a class="button" href="/api/stock_levels" title="Download the current state" download="state.json">Download</a>
      </div>
      <div class="settings_options">
        <div class="button" onclick="updateAllAs('full')" title="Mark everything as full">Fill</div>
        <div class="button" onclick="updateAllAs('low')" title="Mark everything as low">Low</div>
        <div class="button" onclick="updateAllAs('empty')" title="Mark everything as empty">Empty</div>
      </div>
      <div class="settings_checkboxes">
        <div class="checkbox" title="Enable/disable the confirmation checks">
          <input type="checkbox" id="confirm_check" />
          <label for="confirm_check">Confirmations</label>
        </div>
        <div class="checkbox" title="Enable/disable the 'low' level">
          <input type="checkbox" id="low_check" />
          <label for="low_check">'Low' level enable</label>
        </div>
      </div>
    </div>
  </body>
</html>
