<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ACBF beer availability slideshow" />
    <title>ACBF Slideshow</title>

    <link href="/style.css?v=4" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script type="module" src="/js/slideshow.js"></script>
  </head>
  <body>
    <iframe id="availability-iframe" src="/availability"></iframe>
    <iframe id="other-availability-iframe" src="/other-availability"></iframe>
    <div id="slideshow">
      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide1.PNG" />
      <img src="images/sponsors/Slide2.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide3.PNG" />
      <img src="images/sponsors/Slide4.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide5.PNG" />
      <img src="images/sponsors/Slide6.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide7.PNG" />
      <img src="images/sponsors/Slide8.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide9.PNG" />
      <img src="images/sponsors/Slide10.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide11.PNG" />
      <img src="images/sponsors/Slide12.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide13.PNG" />
      <img src="images/sponsors/Slide14.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide15.PNG" />
      <img src="images/sponsors/Slide16.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide17.PNG" />
      <img src="images/sponsors/Slide18.PNG" />

      <div class="availability"></div>
      <div class="other-availability"></div>
      <img src="images/sponsors/Slide19.PNG" />
    </div>
  </body>
</html>
