<!DOCTYPE html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920px, height=1080px" />
    <meta name="description" content="ACBF beer availability slideshow" />
    <title>ACBF Slideshow</title>

    <link rel="stylesheet" href="css/reveal.css" />
    <link rel="stylesheet" href="css/theme/black.css" />
    <link rel="stylesheet" href="css/theme/reveal-custom.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <script type="module" src="/js/slideshow.js"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides" id="reveal_slideshow">
        <section data-background-image="images/sponsors/sponsor-0.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-1.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-2.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-3.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-4.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-5.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-6.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-7.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-8.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-9.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-10.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-11.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-12.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-13.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-14.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-15.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-16.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-17.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-18.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-19.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-20.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-21.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-22.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-23.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-24.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-25.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-26.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-27.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-28.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-29.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-30.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-31.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <section data-background-image="images/sponsors/sponsor-32.jpg"></section>
        <section data-background-image="images/sponsors/sponsor-33.jpg"></section>
        <section data-background-iframe="/availability" data-autoslide="10000"></section>
        <!--<section data-autoslide="3000">Drink up for charity!<br />🍻</section>-->
      </div>
    </div>
  </body>
</html>
