/* ------------------------------------------------------------------------ */
/*  Colour definitions                                                      */
/* ------------------------------------------------------------------------ */
:root {
  --full-colour: #00a8ff;
  --low-colour: #fbc531;
  --empty-colour: #e84118;
  --hide-colour: #2f3640;

  --main-colour: #3e5368;
  --main-shade-colour: #7493b3;
  --text-colour: #222933;
  --button-bg-colour: #f5f6fa;
  --cross-colour: #000000;

  --shadow-colour: #000000;
  --shadow-shade-colour: #00000080;

  --warning-bg-color: #e84118bf;
  --warning-text-colour: #222933bf;

  --noscript-background: #ffffff3f;
  --default-link-colour: #0000ee;
  --shaded-link-colour: #3232f1;
  --default-visited-colour: #551a8b;
  --shaded-visited-colour: #7647a2;
  --default-selection-colour: #b4d5ff;

  --transition-time: 150ms;
}

/* ------------------------------------------------------------------------ */
/* Typography                                                               */
/* ------------------------------------------------------------------------ */
@font-face {
  font-family: 'HackerFiveTwo';
  src: url('HackerFiveTwoOpti-UltraBld.otf');
}

/* ------------------------------------------------------------------------ */
/* Animations                                                               */
/* ------------------------------------------------------------------------ */
@keyframes load-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ------------------------------------------------------------------------ */
/* General styles                                                           */
/* ------------------------------------------------------------------------ */
html {
  height: 100%;
}

a {
  color: var(--text-colour);
  text-decoration: none;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 50% 50%,
    var(--main-shade-colour) 0%,
    var(--main-colour) 100%
  );
  color: var(--text-colour);
  font-family: 'Arial', 'sans-serif';
  margin: 0px;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: var(--button-bg-colour);
  font-family: 'HackerFiveTwo', 'Arial', 'sans-serif';
}

h2 {
  margin: 0em;
}

::selection {
  background-color: transparent;
}

input::selection {
  background-color: var(--default-selection-colour);
}

footer {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

footer::selection,
footer a::selection {
  background-color: var(--default-selection-colour);
}
footer a:link {
  color: var(--shaded-link-colour);
}
footer a:visited {
  color: var(--default-visited-colour);
}

input[type='checkbox'] {
  margin: 5%;
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  background: var(--button-bg-colour);
  outline: none;
  border-radius: 20px;
  transition: var(--transition-time);
  box-shadow: inset 0px 0px 1rem 0px var(--shadow-shade-colour), 0px 0px 0.5rem 0px var(--shadow-colour);
}

input:checked[type='checkbox'] {
  background: var(--full-colour);
}

input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: var(--button-bg-colour);
  transform: scale(1.1);
  box-shadow: inset 0px 0px 1rem 0px var(--shadow-shade-colour), 0px 0px 0.5rem 0px var(--shadow-colour);
  transition: var(--transition-time);
}

input:checked[type='checkbox']:before {
  left: 40px;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------------------ */
/*  noscript                                                                */
/* ------------------------------------------------------------------------ */
.noscript {
  background-color: var(--noscript-background);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
}

.noscript__content {
  display: block;
  position: absolute;
  /* From the top, down the height of the title and half of a button */
  top: calc(119px + 60px);
  left: 50%;
  transform: translate(-50%);
  background-color: var(--main-shade-colour);
  border: 2px solid var(--shadow-colour);
  box-shadow: inset 0px 0px 1rem 0px var(--shadow-shade-colour), 0px 0px 0.5rem 0px var(--shadow-colour);
  padding: 2rem;
  text-align: center;
}

@media (orientation: portrait) {
  .noscript__content {
    /* In the middle of the page and down half of the upscaled height (to get the top of the element)  */
    transform: translate(-50%, 50%) scale(2);
  }
}

.noscript__content a:link {
  color: var(--default-link-colour);
}
.noscript__content a:visited {
  color: var(--default-visited-colour);
}
.noscript__content ::selection {
  background-color: var(--default-selection-colour);
}

/* ------------------------------------------------------------------------ */
/* Positioning                                                              */
/* ------------------------------------------------------------------------ */
/* -------------------------------- */
/* Common                           */
/* -------------------------------- */
.buttons_header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings_container {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 119px auto auto;
  row-gap: 20px;
}

.settings_header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings_utils {
  border: solid 2px var(--main-colour);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.settings_options {
  border: solid 2px var(--main-colour);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.settings_checkboxes {
  border: solid 2px var(--main-colour);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  text-align: center;
}

/* -------------------------------- */
/* Availability                     */
/* -------------------------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

/* -------------------------------- */
/* History                          */
/* -------------------------------- */
.history {
  height: calc(37em);
  border: solid 2px var(--main-colour);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  overflow: auto;
}

/* ------------------------------------------------------------------------ */
/* Main styles                                                              */
/* ------------------------------------------------------------------------ */
/* -------------------------------- */
/* Common                           */
/* -------------------------------- */
.warning_icon {
  background: var(--warning-bg-color);
  color: var(--warning-text-colour);
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 2em;
  border-radius: 50%;
  display: none;
  place-items: center;
}

.settings_container,
.grid {
  animation: load-animation 500ms;
}

.container_header {
  margin: 0.25em;
}

.label {
  font-weight: bold;
}

.code {
  font-family: monospace;
}

.settings_utils,
.settings_options,
.settings_checkboxes,
.history {
  background: var(--main-shade-colour);
}

.availability_button,
.button {
  background: var(--full-colour);
  display: flex;
  width: 100%;
  height: 120px;
  font-size: 3rem;
  font-weight: bold;
  box-shadow: inset 0px 0px 1rem 0px var(--shadow-shade-colour), 0px 0px 0.5rem 0px var(--shadow-colour);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  will-change: transform;
  transition: all var(--transition-time);
}

.availability_button:hover,
.button:hover {
  transform: translateY(-3px) scale(1.05);
  border-radius: 50px;
  box-shadow: 0px 0px 1.5rem 0px var(--shadow-shade-colour);
  box-shadow: inset 0px 0px 1rem 0px var(--shadow-shade-colour), 0px 0px 1rem 0px var(--shadow-shade-colour),
    0px 0px 1.5rem 0px var(--shadow-colour);
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
}

.button {
  margin: 7.5px;
  height: 60px;
  background: var(--button-bg-colour);
  font-size: 2rem;
  font-weight: normal;
  width: 95%;
}

/* Use the crosshair cursor on mobile - stops from flashing (selection highlight?) */
@media (any-pointer: coarse) {
  input[type='checkbox'],
  input[type='checkbox']:hover,
  .availability_button,
  .availability_button:hover,
  .button,
  .button:hover {
    cursor: crosshair;
  }
}

/* -------------------------------- */
/* Availability                     */
/* -------------------------------- */
.cross {
  opacity: 0;
  transition-delay: var(--transition-time);
  pointer-events: none;
  position: absolute;
  width: 100px;
  height: 100px;
}

.checked {
  opacity: 1;
  transition-delay: 0ms;
}

.backslash,
.forward_slash {
  stroke: var(--cross-colour);
  stroke-width: 10px;
  stroke-linecap: round;
  transition: all var(--transition-time);
  stroke-dasharray: 0, 100;
  stroke-dashoffset: -56.568;
}

.checked .backslash,
.checked .forward_slash {
  stroke-dasharray: 113.137, 100;
  stroke-dashoffset: 0;
}

/* ------------ */
/*  Menu        */
/* ------------ */
.buttons_header {
  cursor: context-menu;
}
.popup-background {
  display: none;
  background-color: var(--noscript-background);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 900;
}

.popup-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  /* From the top, down the height of the title and half of a button */
  top: calc(119px + 60px);
  left: 50%;
  width: 180px;
  transform: translate(-50%);
  background-color: var(--main-shade-colour);
  border: 2px solid var(--shadow-colour);
  box-shadow: inset 0px 0px 1rem 0px var(--shadow-shade-colour), 0px 0px 0.5rem 0px var(--shadow-colour);
  padding: 20px;
  z-index: 901;
}

@media (orientation: portrait) {
  .popup-menu {
    /* In the middle of the page and down half of the upscaled height (to get the top of the element)  */
    transform: translate(-50%, 20%) scale(1.4);
  }
}

.popup-background.show {
  display: unset;
}

.popup-menu.show {
  display: flex;
}

.checkbox {
  padding-top: 15px;
}

.checkbox-label {
  padding-top: 2px;
  padding-bottom: 15px;
  font-size: 1.2em;
}

#check-share {
  padding-top: 2px;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

#check-share-url:link {
  color: var(--default-link-colour);
}
#check-share-url:visited {
  color: var(--default-visited-colour);
}

#clear-checks {
  font-size: 1.2rem;
  font-weight: bold;
}

/* -------------------------------- */
/* Login                            */
/* -------------------------------- */
.login_fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* -------------------------------- */
/* History                          */
/* -------------------------------- */
.update {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  padding: 5px;
  box-shadow: inset 0px 0px 0.2rem 0px var(--shadow-shade-colour), 0px 0px 0.1rem 0px var(--shadow-colour);
  border-radius: 4px;
}

.time {
  width: 5em;
}

.name {
  width: 8em;
}

.number {
  width: 2em;
}

.level {
  width: 5em;
}

form {
  margin: 5%;
}

/* -------------------------------- */
/* Settings                         */
/* -------------------------------- */
.checkbox {
  width: 130px;
}
