<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
    <meta name="description" content="500 Error page" />
    <title>ACBF 500 Error</title>

    <link href="/style.css" type="text/css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body>
    <h1>500: Internal Server Error</h1>
    <div class="menu_container">
      <div class="menu_section">
        <a class="button" href="/" title="Homepage">Homepage</a>
      </div>
    </div>
    <footer>
      Made with 🍺 - © 2023 guyfawcus - (<a href="https://github.com/guyfawcus/beer-fest.js">MIT Licensed</a>)
    </footer>
  </body>
</html>
